.superInputDefault {
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 20px;
}

.superInput {
    background-color: lightsteelblue;
}

.errorInput {
    border: 1px solid black;
    background: orangered;
}

.error {
    position: absolute;
    top: 0;
    color: red;
    text-transform: uppercase;
}